body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:white;
}

h1,h2,h3,h4 {
    color: white;
    font-weight: bold;
}

p {
    line-height: 150%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18 px;
}

h4 {
    font-size: 14px;
    font-style: italic;
}

.container {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: darkviolet;
}
.row {
    display:flex;
}

.column {
    flex:50%;
    width: 33%;
}
.right {
    align-content: left;
    background-color: blue;
}
.left {
    align-content: right;
    background-color: red;
}